.App {
  text-align: center;
  color : #160c25;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  padding-top: 150px;
  padding-bottom: 150px;
  font-family: Arial;
  font-size: 65px;
  font-weight: 600;
  width: 100%;
  text-align: center;
  background-color: rgb(31, 14, 36);
  color : white;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
